@media screen and (min-width: 1024px) {
  .fern-product-selector {
    transform: translate(-6px, 1px);
  }

  .fern-version-selector {
    transform: translate(-4px, 1px);
    border-radius: 1000px;
    border: 1px solid var(--grayscale-a5);

    .version-dropdown-trigger {
      height: 1.5rem;
    }
  }
}